//All the references belong to home.html
.inProgress{
  //when ng-class="inProgress", these styles get applied, ng-class chnages dynamically - see home.html, line 18
  td:last-child{
    select{
      border: 2px solid #512310;
      overflow: hidden;
      background: url(../images/brown_down.PNG) no-repeat right white ;
      padding-left:3px;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }
}
