<div class="w3-padding-32 w3-container">
    <div class="w3-content">
        <h1><strong>Calender Page</strong></h1>
        <h4 class="w3-padding-8">
            <h3><strong>What seperates me?</strong></h3>
            I have an <strong>OCD</strong> when it comes to design. Well, I believe that a front end developer needs to be obssessed about perfect design
            and should concentrate on minute details and that is what I bring to the table, you give a wireframe and I will find a way to design it exactly the way you want it to look.
        </h4>
    </div>
</div>
