<div class="w3-padding-32 w3-container">
    <div class="w3-content">
        <h1><strong>Inbox Page</strong></h1>
        <h4 class="w3-padding-8">
            <h3><strong>Why Cirtual?</strong></h3>
            Well, there are a whole lot of reasons why I would love to join Cirtual,
            please check my article on
            <a href="https://www.linkedin.com/pulse/reasons-why-you-need-start-off-startup-navaneeth-kishore-rameshwaram" style="text-decoration:none; color: red; font-weight: bold">
            why I would love to work for a Startup.
            </a>
            When I first had a phone call with the Team at Cirtual, I talked to Reza about how the Company was formed
            and was impressed to know how 4 students from High Point University started a Company with a thought to serve
            its clients, I feel like it is a great opportunity to work with young minds who I can relate to and would love to contribute
            and I firmly believe that the Team will find a common ground with me.
        </h4>
    </div>
</div>
