<div class="w3-padding-32 w3-container">
    <div class="w3-content">
        <h1><strong>Profile Page</strong></h1>
        <h4 class="w3-padding-8">
            <h3><strong>My Story</strong></h3>
            When I was a kid, I always wanted to be an Artist, my father discovered my interest and bought me some colors
            and a drawing book, I soon began painting, few years passed by and my father was worried like every other Indian dad thinking that I'd
            go ahead and pursue a career in Artistry of Color, he pursued me and put me into studying Mathematics, I excelled in my class and after a few years,
            during my undergraduate career, my childhood instincts kicked in and I told my dad
            <strong><i>" you can stop me from putting color on the paper but you can't take me away from painting the web beautiful "</i></strong> and that is how it all began.
        </h4>
    </div>
</div>
